html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url('../fonts/open-sans/OpenSans-Semibold.eot');
  src: url('../fonts/open-sans/OpenSans-Semibold.eot?iefix') format('eot'), url('../fonts/open-sans/OpenSans-Semibold.woff') format('woff'), url('../fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: "KomikaTitle-Paint";
  src: url('../fonts/komika-title/KomikaTitle-Paint.eot');
  src: url('../fonts/komika-title/KomikaTitle-Paint.eot?iefix') format('eot'), url('../fonts/komika-title/KomikaTitle-Paint.woff') format('woff'), url('../fonts/komika-title/KomikaTitle-Paint.ttf') format('truetype');
}

@font-face {
  font-family: "KomikaTitle-Wide";
  src: url('../fonts/komika-title/KomikaTitle-Wide.eot');
  src: url('../fonts/komika-title/KomikaTitle-Wide.eot?iefix') format('eot'), url('../fonts/komika-title/KomikaTitle-Wide.woff') format('woff'), url('../fonts/komika-title/KomikaTitle-Wide.ttf') format('truetype');
}

@font-face {
  font-family: "DigitalDream-Fat";
  src: url('../fonts/digital-dream/DIGITALDREAMFAT.eot');
  src: url('../fonts/digital-dream/DIGITALDREAMFAT.eot?iefix') format('eot'), url('../fonts/digital-dream/DIGITALDREAMFAT.woff') format('woff'), url('../fonts/digital-dream/DIGITALDREAMFAT.ttf') format('truetype');
}

.texture.blue, body {
  background: url('../images/texture_blue.png') repeat;
}
.texture.green, #obstacles ul li, #prizes {
  background: url('../images/texture_green.png') repeat;
}
.texture.yellow, #obstacles ul li.selected {
  background: url('../images/texture_yellow.png') repeat;
}
.texture.orange, #obstacles, #enter .left form input, #enter .left form select {
  background: url('../images/texture_orange.png') repeat;
}

html, body {
  min-width: 940px;
  width: auto !important;
  width: 940px;
}

body {
  background-color: #80c1d6;
}

.lt-ie7 html, .lt-ie7 body {
  min-width: auto;
  width: auto !important;
  width: auto;
}
.lt-ie7 body {
  background: #80c1d6;
}

body.showgrid .container {
  background-image: -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(6.25%, rgba(100, 100, 225, 0.25)), color-stop(6.25%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(14.583%, rgba(100, 100, 225, 0.25)), color-stop(14.583%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(22.917%, rgba(100, 100, 225, 0.25)), color-stop(22.917%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(31.25%, rgba(100, 100, 225, 0.25)), color-stop(31.25%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(39.583%, rgba(100, 100, 225, 0.25)), color-stop(39.583%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(47.917%, rgba(100, 100, 225, 0.25)), color-stop(47.917%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(56.25%, rgba(100, 100, 225, 0.25)), color-stop(56.25%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(64.583%, rgba(100, 100, 225, 0.25)), color-stop(64.583%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(72.917%, rgba(100, 100, 225, 0.25)), color-stop(72.917%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(81.25%, rgba(100, 100, 225, 0.25)), color-stop(81.25%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(89.583%, rgba(100, 100, 225, 0.25)), color-stop(89.583%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(97.917%, rgba(100, 100, 225, 0.25)), color-stop(97.917%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 60px, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 220px, rgba(0, 0, 0, 0) 220px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 300px, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 460px, rgba(0, 0, 0, 0) 460px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 780px, rgba(0, 0, 0, 0) 780px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 60px, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 220px, rgba(0, 0, 0, 0) 220px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 300px, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 460px, rgba(0, 0, 0, 0) 460px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 780px, rgba(0, 0, 0, 0) 780px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 60px, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 220px, rgba(0, 0, 0, 0) 220px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 300px, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 460px, rgba(0, 0, 0, 0) 460px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 780px, rgba(0, 0, 0, 0) 780px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 960px);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 60px, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 220px, rgba(0, 0, 0, 0) 220px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 300px, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 460px, rgba(0, 0, 0, 0) 460px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 780px, rgba(0, 0, 0, 0) 780px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 60px, rgba(0, 0, 0, 0) 60px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 220px, rgba(0, 0, 0, 0) 220px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 300px, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 460px, rgba(0, 0, 0, 0) 460px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 700px, rgba(0, 0, 0, 0) 700px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 780px, rgba(0, 0, 0, 0) 780px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 960px);
  background-position: left top;
}

.container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

#obstacles, #prizes, #enter {
  position: relative;
}
#obstacles h1, #prizes h1, #enter h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 0;
  color: white;
  font: normal 40px "KomikaTitle-Paint";
  letter-spacing: 1.3px;
  position: relative;
}
#obstacles h1:after, #prizes h1:after, #enter h1:after {
  background-image: url('../images/bg_checks.png');
  height: 40px;
  content: "";
  position: absolute;
  right: 0;
}

.separator, #obstacles:before, #obstacles:after, #prizes:before, #prizes:after, #enter:before, #credits:before, #credits:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6);
  opacity: 0.06;
  height: 7px;
  background: black;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
}

nav {
  background: rgba(15, 40, 48, 0.05);
  font: normal 18px "OpenSans-Semibold";
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  height: 32px;
}
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  padding-left: 26px;
  padding-right: 26px;
  line-height: 32px;
}
nav ul li {
  *display: inline;
}
nav ul li a {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  color: white;
  text-decoration: none;
  padding: 0 7px;
}
nav ul li a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.lt-ie9 nav {
  background: url('../images/bg_nav.png') repeat;
}

.lt-ie7 nav {
  background: #7ab9ce;
}

header {
  background: url('../images/header_blue_slime.png') center -200px no-repeat;
  color: white;
  font: normal 22px "OpenSans-Semibold";
  height: 641px;
  padding-top: 72px;
  text-align: center;
}
header h1 {
  background: url('../images/logo_td.png') 47% 100px no-repeat, url('../images/header_green_slime.png') 192px center no-repeat;
  text-indent: -99999px;
  width: 100%;
  height: 426px;
  margin: auto;
}
header h2 {
  text-shadow: white 2px 2px 1px;
  font: normal 52px "KomikaTitle-Paint";
  color: #fe6537;
  letter-spacing: 1.5px;
  line-height: 80px;
  padding-top: 25px;
  white-space: nowrap;
}

.lt-ie9 header h1 {
  background: url('../images/compat/lt_ie9/logo_td.png') 210px 50% no-repeat;
}

.lt-ie7 header {
  background: url('../images/compat/lt_ie7/header_blue_slime.png') center -200px no-repeat;
}
.lt-ie7 header h1 {
  background: url('../images/compat/lt_ie7/logo_td.png') 210px 50% no-repeat;
}

#obstacles {
  background-color: #fe6638;
  height: 939px;
}
#obstacles:after {
  height: 8px;
  bottom: 0;
}
#obstacles h1 {
  padding: 32px 0 50px 5px;
}
#obstacles h1:after {
  top: 50px;
  right: 4px;
  width: 660px;
}
#obstacles ul {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
  color: white;
  text-align: center;
  font: normal 14px "KomikaTitle-Paint";
}
* html #obstacles ul {
  overflow-x: hidden;
}
#obstacles ul li {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 220px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #80b238;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-bottom: 18px;
}
* html #obstacles ul li {
  overflow-x: hidden;
}
#obstacles ul li.selected {
  background-color: #eef13f;
  color: #f46034;
}
#obstacles ul li.last {
  margin-right: 0;
}
#obstacles ul li .obs {
  background: url('../images/obstacles.png') no-repeat;
  display: block;
  margin: 0 auto 8px;
  width: 171px;
  height: 168px;
}
#obstacles ul li .obs1 {
  background-position: left 0px;
}
#obstacles ul li .obs2 {
  background-position: left -168px;
}
#obstacles ul li .obs3 {
  background-position: left -336px;
}
#obstacles ul li .obs4 {
  background-position: left -504px;
}
#obstacles ul li .obs5 {
  background-position: left -672px;
}
#obstacles ul li .obs6 {
  background-position: left -840px;
}

#obs_slides {
  display: inline;
  float: left;
  margin-right: 0;
  width: 460px;
  background: url('../images/header_green_slime.png') center 5px no-repeat;
  -moz-background-size: 236px 206px;
  -webkit-background-size: 236px 206px;
  -o-background-size: 236px 206px;
  background-size: 236px 206px;
  height: 700px;
}
* html #obs_slides {
  overflow-x: hidden;
}
#obs_slides .slide {
  display: none;
  position: relative;
  height: 100%;
}
#obs_slides .slide.selected {
  display: block;
}
#obs_slides .slide h2, #obs_slides .slide small {
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 0;
  -moz-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  -o-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
  display: block;
  color: white;
  font: normal 40px "KomikaTitle-Paint";
  letter-spacing: 1.3px;
  text-align: center;
  position: relative;
}
#obs_slides .slide h2 {
  top: 60px;
  line-height: 50px;
  margin-bottom: 20px;
}
#obs_slides .slide small {
  font-size: 21px;
  top: 45px;
  letter-spacing: 0px;
}
#obs_slides .slide div {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
#obs_slides .slide img {
  width: 80%;
}

.lt-ie9 #obstacles:before {
  background: url('../images/compat/lt_ie9/section_separator1.png') left top repeat;
}
.lt-ie9 #obstacles:after {
  background: url('../images/compat/lt_ie9/section_separator1.png') left top repeat;
}
.lt-ie9 #obs_slides {
  background: url('../images/compat/lt_ie9/obstacles_green_slime.png') center 5px no-repeat;
}

.lt-ie7 #obstacles {
  background: #fe6638;
}
.lt-ie7 #obstacles ul li {
  background-image: none;
}
.lt-ie7 #obs_slides {
  background: url('../images/compat/lt_ie7/obstacles_green_slime.png') center 5px no-repeat;
}

#prizes {
  background-color: #80b238;
  height: 1045px;
}
#prizes:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=8);
  opacity: 0.08;
  height: 9px;
  bottom: 0;
}
#prizes h1 {
  padding: 52px 0 0 1px;
  margin-bottom: 75px;
}
#prizes h1:after {
  top: 70px;
  width: 760px;
}
#prizes .prize {
  text-align: center;
}
#prizes .prize p {
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 0;
  color: white;
  font: normal 16px "KomikaTitle-Paint";
  padding-top: 14px;
}
#prizes .prize1 {
  padding-bottom: 93px;
}
#prizes .prize2 p {
  padding-top: 29px;
}
#prizes .prize3 {
  padding-bottom: 56px;
}
#prizes .left {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
}
* html #prizes .left {
  overflow-x: hidden;
}
#prizes .right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 460px;
}
* html #prizes .right {
  overflow-x: hidden;
}

.lt-ie9 #prizes:before {
  background: url('../images/compat/lt_ie9/section_separator1.png') repeat;
}
.lt-ie9 #prizes:after {
  background: url('../images/compat/lt_ie9/section_separator2.png') repeat;
}

.lt-ie7 #prizes {
  background: #80b238;
}

#enter {
  height: 844px;
}
#enter:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=8);
  opacity: 0.08;
  height: 6px;
}
#enter h1 {
  padding: 55px 0 0 6px;
  margin-bottom: 64px;
}
#enter h1:after {
  background-position: 20px center;
  top: 72px;
  width: 520px;
}
#enter .left {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 380px;
}
* html #enter .left {
  overflow-x: hidden;
}
#enter .left form label {
  display: none;
}
#enter .left form p {
  margin-bottom: 14px;
  overflow: hidden;
}
#enter .left form input, #enter .left form select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #fe6336;
  margin: 0;
  padding: 12px;
  border: 0;
  outline: 0;
  font: normal 16px "KomikaTitle-Paint";
  position: relative;
  color: white;
  width: 100%;
}
#enter .left form input.placeholder, #enter .left form input::-webkit-input-placeholder, #enter .left form input::-moz-placeholder, #enter .left form select.placeholder, #enter .left form select::-webkit-input-placeholder, #enter .left form select::-moz-placeholder {
  color: white;
}
#enter .right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 460px;
  padding-left: 80px;
  text-align: center;
}
* html #enter .right {
  overflow-x: hidden;
}
#enter .right img {
  margin-bottom: 43px;
}
#enter .right p {
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 0;
  color: white;
  font: normal 40px/50px "KomikaTitle-Paint";
  letter-spacing: 1.3px;
}
#enter #team_color {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 220px;
  height: 50px;
}
* html #enter #team_color {
  overflow-x: hidden;
}
#enter #gender {
  display: inline;
  float: left;
  margin-right: 0;
  width: 140px;
  height: 50px;
}
* html #enter #gender {
  overflow-x: hidden;
}
#enter #enter_submit {
  background: url('../images/header_green_slime.png') top center no-repeat;
  -moz-background-size: 177px 155px;
  -webkit-background-size: 177px 155px;
  -o-background-size: 177px 155px;
  background-size: 177px 155px;
  -moz-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  -o-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 0;
  cursor: pointer;
  height: 155px;
  font-size: 26px;
  margin-top: 20px;
}

.lt-ie9 #enter:before {
  background: url('../images/compat/lt_ie9/section_separator2.png') repeat;
}
.lt-ie9 #enter #enter_submit {
  background: url('../images/compat/lt_ie9/enter_green_slime.png') top center no-repeat;
}

.lt-ie7 #enter form input, .lt-ie7 #enter form select {
  background-image: none;
}
.lt-ie7 #enter form #enter_submit {
  background: url('../images/compat/lt_ie7/enter_green_slime.png') top center no-repeat;
}

footer {
  color: white;
  font: normal 14px "OpenSans-Semibold";
  height: 413px;
  line-height: 18px;
}
footer .container {
  overflow: visible;
}
footer h1 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
footer .left {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 460px;
  text-align: right;
}
* html footer .left {
  overflow-x: hidden;
}
footer .right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 460px;
  text-align: left;
}
* html footer .right {
  overflow-x: hidden;
}

#credits {
  position: relative;
}
#credits:after {
  bottom: 0;
}
#credits div {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.lt-ie9 #credits:before {
  background: url('../images/compat/lt_ie9/footer_separator.png') left top repeat;
}
.lt-ie9 #credits:after {
  background: url('../images/compat/lt_ie9/footer_separator.png') left top repeat;
}

#credits_kn {
  padding: 67px 0 28px;
}
#credits_kn:before {
  background: url('../images/logo_kn.png') center top no-repeat;
  content: "";
  display: block;
  width: 100%;
  height: 85px;
  position: absolute;
  top: -36px;
}
#credits_kn h1 {
  padding-bottom: 10px;
}

#credits_studios {
  padding-bottom: 63px;
}
#credits_studios h1 {
  padding-bottom: 5px;
}

#cc_license {
  text-align: center;
  padding-top: 21px;
}

#cc_logo {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding-top: 21px;
}
#cc_logo {
  *display: inline;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  html, body {
    min-width: 620px;
    width: auto !important;
    width: 620px;
  }

  .container {
    width: 620px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  #credits div {
    width: 620px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  nav {
    font-size: 14px;
  }
  nav ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
  }
  nav ul li {
    *display: inline;
  }

  header {
    font-size: 17px;
  }
  header h1 {
    background: url('../images/logo_td.png') center 100px no-repeat, url('../images/header_green_slime.png') center center no-repeat;
  }
  header h2 {
    font-size: 30px;
  }

  #obstacles h1:after {
    width: 340px;
  }
  #obstacles ul {
    margin-right: 0;
    padding-left: 80px;
  }
  #obstacles #obs_slides {
    display: none;
  }

  #prizes {
    height: 1765px;
  }
  #prizes h1:after {
    width: 440px;
  }
  #prizes .prize2 {
    padding-bottom: 60px;
  }
  #prizes .left, #prizes .right {
    margin-right: 0;
    padding-left: 80px;
  }

  #enter h1:after {
    width: 200px;
  }
  #enter .left {
    display: inline;
    float: left;
    margin-right: 0;
    width: 460px;
    padding-left: 80px;
  }
  * html #enter .left {
    overflow-x: hidden;
  }
  #enter .right {
    display: none;
  }
  #enter #gender {
    display: inline;
    float: left;
    margin-right: 0;
    width: 220px;
  }
  * html #enter #gender {
    overflow-x: hidden;
  }

  footer .left {
    display: inline;
    float: left;
    margin-right: 20px;
    width: 300px;
  }
  * html footer .left {
    overflow-x: hidden;
  }
  footer .right {
    display: inline;
    float: left;
    margin-right: 0;
    width: 300px;
  }
  * html footer .right {
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 480px) {
  html, body {
    min-width: 460px;
    width: auto !important;
    width: 460px;
  }

  .container {
    width: 460px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  #credits div {
    width: 460px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
  }

  nav {
    font-size: 12px;
  }
  nav ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
  }
  nav ul li {
    *display: inline;
  }

  header {
    font-size: 15px;
  }
  header h1 {
    background: url('../images/logo_td.png') center 100px no-repeat, url('../images/header_green_slime.png') center center no-repeat;
  }
  header h2 {
    font-size: 25px;
  }

  #obstacles h1:after {
    width: 180px;
  }
  #obstacles #obs_slides {
    display: none;
  }

  #prizes {
    height: 1765px;
  }
  #prizes h1:after {
    width: 280px;
  }
  #prizes .prize2 {
    padding-bottom: 60px;
  }

  #enter h1:after {
    width: 40px;
  }
  #enter .left {
    display: inline;
    float: left;
    margin-right: 0;
    width: 460px;
  }
  * html #enter .left {
    overflow-x: hidden;
  }
  #enter .right {
    display: none;
  }
  #enter #gender {
    display: inline;
    float: left;
    margin-right: 0;
    width: 220px;
  }
  * html #enter #gender {
    overflow-x: hidden;
  }

  footer .left {
    display: inline;
    float: left;
    margin-right: 20px;
    width: 220px;
  }
  * html footer .left {
    overflow-x: hidden;
  }
  footer .right {
    display: inline;
    float: left;
    margin-right: 0;
    width: 220px;
  }
  * html footer .right {
    overflow-x: hidden;
  }
}
